.App {
  text-align: center;
}

.header{
  width:1000px;
  height:72px;
  background-color:#FFFDD0;
  margin:0 auto;

}
.headerLogo{
  display: inline-block;
  width:20%;
}
.headerLogo img{
  padding: 19px;
}

.headerNav{
  display:inline-block;
  width:80%;
  height: 100%;
  vertical-align: text-bottom;

}
.headerNav ul{
  list-style: none;
}
.headerNav ul li{
  display: inline-block;
  margin:5px 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color:#515151;
  
}
.headerNav ul li:hover{
  color:#d42551;
}
.MainPgContentLeft{
  display: inline-block;
  width:350px;

}
.MainPgContentRight{
  display: inline-block;
  width:650px;
  text-align: left;
}
.macaronListDivContainer{
  width:1000px;
  margin:0 auto;
}
.macaronListDiv{
  width:126px;
  height:140px;
  background-color:#FFFDD0;
  display:inline-block;
  margin:8px;
}
.macaronListInnerDiv{
padding:6px;
    text-align: left;
}
.macroneCookie1,.macroneCookie2{
font-size: 14px;
margin-top:12px
}
.macroneCookie1 div,.macroneCookie2 div{
  display:inline-block;
  width:75%;
  text-align: left;
  
}
.macaroneCookieImage{
  vertical-align: bottom;
}

.macroneCookie2:first-of-type{
  background-color:#824603;
  color:#fff;
}