.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.glow{
  background-color:aliceblue;
  width: 40%;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 1px 2px 20px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}
.ghigh{
  background-color:firebrick;
  width: 40%;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 1px 2px 20px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
